td{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    /* height: 5px; */
    text-align: center;
    box-shadow: 4px 3px 5px 4px rgb(124, 80, 124);
    /* border: none; */
}
 h1 {
     background-color: lightblue;        
     width: 400px;
     line-height: 50px;
     color: black;
     text-align: center;
     border-radius: 10px;
     box-shadow: 1px 5px 15px yellow;
     margin:auto;
}
h1:hover {
    background-color: rgb(43, 133, 121);
    color: white;
    transform: scale(1.1);
}
.numb{
    line-height: 0%;
    font-size: 10px;
    font-weight: bold;
    /* border: none; */
}
.word{
    line-height: 0%;
    font-weight: bold;
}
.word2{
    line-height: 0%;
    font-size: 13px;
    font-weight: bold;
}
.noor1{
    background-color: rgb(83, 196, 83);
}
.noor2{
    background-color: red;
}
.noor3{
    background-color: orange;
}
.noor4{
    background-color: rgb(80, 165, 204);
}
.noor5{
    background-color: blue;
}
.noor6{
    background-color: purple;
}
.noor7{
    background-color: rgb(211, 116, 190);
}
#table{
    margin: 80px auto;
}
.noor2:hover {
    background-color: rgb(108, 173, 170);
}
.noor1:hover {
    background-color: rgb(108, 173, 170);
}

.noor3:hover {
     background-color: rgb(108, 173, 170);
}

    .noor4:hover {
     background-color: rgb(108, 173, 170);
}

.noor5:hover {
     background-color: rgb(108, 173, 170);
}
.noor6:hover {
     background-color: rgb(108, 173, 170);
 }
    
.noor7:hover {
     background-color: rgb(108, 173, 170);
}

.noor8:hover {
     background-color: rgb(108, 173, 170);
}

.noor2:hover {
     background-color: rgb(108, 173, 170);
}